$main-grey: #343434;
$main-grey-light: #ababab;
$main-blue: aliceblue;
$correct: #00bb00;
$incorrect: #bb0000;
$main-dark-blue: #086abb;

* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

p,
button,
span,
li {
  font-size: 1.6rem;
}

body {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
}

.header {
  display: flex;
  padding: 2rem;
  box-shadow: 0 0.5rem 0.5rem $main-grey-light;
  &__toggle {
    margin-left: auto;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
  }
  &__hamburger {
    filter: invert(1);
  }
}

.menu {
  background: white;
  display: flex;
  justify-content: space-around;
  height: 0;
  padding: 0;
  border-radius: 1rem;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  transition: height 0.3s ease-in-out, padding 0.3s ease-in-out;
  &__heading {
    text-align: left;
    cursor: default;
  }
  &__items {
    list-style: none;
    text-align: left;
  }
  &__item {
    font-weight: 400;
    cursor: pointer;
    margin: 0.2rem;
    &:hover {
      font-weight: 700;
    }
  }
  &__toggle {
    display: none;
    filter: invert(1);
  }
  &--chosen {
    font-weight: 700;
  }
  &--visible {
    height: 25rem;
    padding: 3rem;
    box-shadow: 0 0.5rem 0.5rem $main-grey-light;
  }
}

.hidden {
  display: none;
}

.display {
  margin: 4rem auto 0;
  width: 50%;
  max-width: 50rem;
  text-align: left;
  border: 1px solid $main-grey-light;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem 0.1rem $main-grey-light;
}

.quiz {
  width: 90%;
  max-width: 100rem;
  margin: 8rem auto;
  border: 1px solid $main-grey-light;
  box-shadow: 0 0 0.5rem 0.1rem $main-grey-light;
  padding: 3rem;
  border-radius: 1rem;
  &__answers {
    width: 100%;
    display: grid;
    justify-items: center;
    padding-left: 0;
    margin: 0 auto;
  }
  &__answer {
    list-style-type: decimal;
    list-style-position: inside;
    width: 66%;
    margin: 2.5rem 0 0;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid $main-grey;
    transition: 0.2s ease;
  }
  &__button {
    border: none;
    margin: 2rem;
    background-color: $main-dark-blue;
    color: $main-blue;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: 0 0 0.5rem 0.1rem $main-dark-blue;
    &:hover {
      opacity: 0.8;
    }
  }
  &__res-q {
    font: {
      size: 2.4rem;
    }
    margin-top: 1.4rem;
    text-align: left;
  }
  &__res-correct,
  &__res-user {
    font: {
      size: 1.8rem;
    }
    text-align: left;
  }
  &--correct {
    color: $correct;
  }
  &--incorrect {
    color: $incorrect;
  }
}

footer {
  font-size: 1.6rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  a {
    font-size: 1.6rem;
  }
}

@media (min-width: 700px) {
  .header {
    justify-content: space-around;
    &__toggle {
      display: none;
    }
  }
  .menu {
    position: inherit;
    height: auto;
    transform: unset;
    align-items: center;
    background: none;
    flex-basis: 50%;
    &__heading {
      cursor: pointer;
    }
    &__toggle {
      display: unset;
      background: none;
      border: none;
    }
    &__items {
      height: 0;
      overflow: hidden;
      position: fixed;
      top: 7rem;
      background: white;
      border-radius: 15px;
      transition: height 0.2s ease-in-out, padding 0.2s ease-in-out;
    }
    &--active {
      padding: 1rem;
      box-shadow: 0 0.5rem 0.5rem 0.1rem $main-grey-light;
    }
  }
  .quiz {
    &__answers {
      grid-template: 1fr 1fr / 1fr 1fr;
    }
    &__answer:hover {
      background-color: $main-grey-light;
      color: white;
    }
  }
}
