* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #343434;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  margin: 0;
}

.header {
  display: flex;
  &__toggle {
    margin-left: auto;
  }
}

.menu {
  display: flex;
  justify-content: space-around;
  background-color: aliceblue;
  color: #343434;
  &__heading {
    text-align: left;
  }
  &__items {
    list-style: none;
    text-align: left;
  }
  &__item {
    font-weight: 400;
    cursor: pointer;
    margin: 0.2rem;
    &:hover {
      font-weight: 700;
    }
  }
  &--chosen {
    font-weight: 700;
  }
}

.answers {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.2rem;
  justify-items: center;
  padding-left: 0;
  margin: 0 auto;
}

.quiz__button {
  border: none;
  background-color: #086abb;
  color: aliceblue;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 8rem auto;
  background-color: aliceblue;
  padding: 3rem;
  border-radius: 10px;
}

.answer {
  list-style-type: decimal;
  list-style-position: inside;
  width: 66%;
  margin: 0.5rem 0;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #343434;
}

.correct {
  color: #00bb00;
}

.incorrect {
  color: #bb0000;
}

button:hover {
  background-color: #055597;
}

@media (min-width: 700px) {
  .answer:hover {
    background-color: #343434;
    color: #ababab;
  }
  nav {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
  .categories,
  .difficulties {
    flex-direction: row;
  }
  .nav-item {
    margin: 0 1rem;
  }
}
