body {
    background-color: #343434;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

button {
    border: none;
    background-color: #086abb;
    color: aliceblue;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

nav {
    display: flex;
}

.categories-tab {
    display: flex;
    flex-direction: column;
    color: white;
    cursor: pointer;
}

.category {
    display: none;
}

.category:hover {
    color: #086abb;
    cursor: pointer;
}

.categories-tab:hover .category {
    display: inherit;
}

.answers {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: .2rem;
    justify-items: center;
    padding-left: 0;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.container {
    width: 66%;
    margin: 4rem auto;
    background-color: aliceblue;
    padding: 3rem;
    border-radius: 10px;
}

.answer {
    list-style-type: decimal;
    list-style-position: inside;
    width: 66%;
    margin: .5rem 0;
    cursor: pointer;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #343434;
}

.correct {
    color: #00bb00;
}

.incorrect {
    color: #bb0000;
}

button:hover {
    background-color: #055597;
}

.answer:hover {
    background-color: #343434;
    color: #ababab;
}